<center>
<div style="margin: 2vw 8vw; border: 1px solid black; padding: 20px; border-radius: 1vw">
        
<h2>NMKSV Hakemus</h2>
<pre style="font-size: 17px; width: 80%">
Kiitos hakemuksestasi! Alla vielä antamasi vastaukset

<strong>Nimi</strong>
{{name}}

<strong>Sähköposti</strong>
{{email}}

<strong>Aloitusvuosi</strong>
{{startYear}}

<strong>Opintoala</strong>
{{studyField}}

<strong>Aiempi kokemus opiskelijajärjestötoiminnasta</strong>
{{activityCV}}

<strong>Kerro itsestäsi ja osaamisestasi</strong>
{{freeWord}}

<strong>Miksi haluaisit mukaan NMKSV:n toimintaan?</strong>
{{reasonsToApply}}

Jos sinulla herää kysymyksiä, ota ihmeessä yhteyttä meihin esimerkiksi sähköpostilla kapteenisto(at)gmail.com
</pre>
    
</div>
</center>