<center>
<div style="margin: 2vw 8vw; border: 1px solid black; padding: 20px; border-radius: 1vw">

<h2>NMKSV hakemuslinkki</h2>
<pre style="font-size: 17px; width: 80%">Hei {{name}},

Mahtavaa, että olet kiinnostunut toiminnastamme!

Alla olevasta linkistä pääset täyttämään hakemuksemme.

Hakemuskilke aukeaa täytettäväksi 12 tunnin kuluttua.
  
Sinulta pyydetään hakemuksessa seuraavia asioita (* pakollisia):

Nimi *
Opintojen aloitusvuosi *
Opintoala *
Aiempi kokemus järjestötoiminnasta.
Kerro itsestäsi ja osaamisestasi.
Miksi haluaisit mukaan NMKSV:n toimintaan?
Vapaamuotoiset liitteet, esim. kuva/hakemus-PDF

Linkki hakemukseesi:
<a href="https://nmksv.org/application?id={{id}}">https://nmksv.org/application?id={{id}}</a>

Hakemuksesi lähetetään sinullekin sähköpostilla.
Jos sinulla on kysyttävää, ota meihin rohkeasti yhteyttä esimerkiksi sähköpostilla kapteenisto(at)gmail.com.
</pre>
    
</div>
</center>